html {
  background: linear-gradient(180deg, #CCFFFF, #FFCCCC);
  box-sizing: border-box;
  font-family: Trebuchet MS;
}
/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    text-transform: lowercase;
    font-size: 2vw;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}

.active {
    background-color: rgba(204, 255, 255, 0.6);
    border-radius: 14px;
}










/* header */
.image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
      border-radius: 16px 16px 5px 5px;
}
.caption {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 0%;
        font-size: 2vw;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10%;
    color: white;

    filter: Alpha(opacity=5);
}
.caption .content {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  border-radius: 16px;
}

/* cards */
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(0deg, #CCFFFF, #FFCCCC);
}
.rounded {
  border-radius: 15px 15px 0px 0px;
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  clear: both;
  display: table;
}
.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
}
.button:hover {
  background-color: #555;
}

h2 {
  font-size: 2vw;
}
p {
  font-size: 1vw;
}

.three {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 25%;
  border-radius: 16px;
  text-transform: uppercase;
  	background: linear-gradient(270deg, #A23940 0%, #2A2349 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
}
}
