body {
    background-color: #28491F;
}
a {
    font-family: 'Didact Gothic';
}


jumbotron {
    font-family: 'Allerta Stencil';
}
.nav {
    background-color: rgba(201, 209, 198, 0.2);
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(201, 209, 198, 0.2);
    text-transform: lowercase;
    font-size: 2vw;
}
li {
    float: left;
    background-color: rgba(201, 209, 198, 0.2);
}
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: rgba(201, 209, 198, 0.2);
}
li a:hover:not(.active) {
    background-color: rgba(201, 209, 198, 0.5);
    color: white;
}
.active {
    background-color: rgba(204, 255, 255, 0.6);
    color: black;
}
jumbotron {
    color: #D1CC37;
    font-size: 6vw;
}
body {
    color: #FBFBFB;
}
.caption .content {
    text-align: center;
    top: 0;
    background: rgba(201, 209, 198, 0.2); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 60%;
    border-radius: 0px;
    padding: 10%;
    margin-top: 2.5%;
}
ul {
    height: 50%;
}


/* cards */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
h2 {
    font-family: 'Didact Gothic';
}
.card {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  background: rgba(201, 209, 198, 0.2);
  margin-left: 8px;
  
}
.rounded {
  border-radius: 15px 15px 0px 0px;
}
.title {
    color: #B9B735;
    font-family: 'Didact Gothic';
    font-weight: bold;
}

/* forms */
.btn {
  background-color: #B9B735;
  font-family: 'Allerta Stencil';
}
.form-control {
  background-color: #FBFBFB;
}
input {
    font-family: 'Didact Gothic';
    color: #9DA58F;
}
label {
    font-family: 'Didact Gothic';
}

/* yellow-green: #B9B735
dark-green: #244721
white: #FBFBFB
sea-green: #9DA58F
light-grey: #C9D1C6
*/