body {
  background-color: grey;
}


.black {
  background-color: rgb(16, 18, 12);
}
.white {
  background-color: white;
}
.yellow {
  background-color: rgb(221, 200, 71);
}
.red {
  background-color: rgb(190, 47, 34);
}
.blue {
  background-color: rgb(25, 47, 90);
}

.right {
  border-right: 4px solid black;
}
.left {
  border-left: 4px solid black;
}
.top {
  border-top: 4px solid black;
}
.bottom {
  border-bottom: 4px solid black;
}

h2 {
  text-align: center;
}
